USE [Server01]
GO
/* put all items here */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabal_ItemList](
	[ID] [int] NULL,
	[Name] [varchar](100) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Cabal_ItemList] ([ID], [Name]) VALUES (1, N'Nucleo de Aprimoramento (Alto)')
INSERT [dbo].[Cabal_ItemList] ([ID], [Name]) VALUES (2, N'Nucleo Arcano (Alto)')
INSERT [dbo].[Cabal_ItemList] ([ID], [Name]) VALUES (3, N'Poçao de HP (LV 1)')
GO
